---
import Layout from "../../layouts/LoginLayout.astro";
import { db, eq, and, Users } from 'astro:db'

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const username = data.get("username") as string;
        const password = data.get("password") as string;

        const user = await db.select().from(Users).where(and(eq(Users.username, username), eq(Users.password, password)));

        if (user.length == 0) {
            return Astro.redirect("/login");
        }

        Astro.cookies.set("logged_user", user[0].id.toString());

        return Astro.redirect("/");
    

    } catch (error) {
        console.log(error);
    }

}
---

<Layout title="Login">
    <div class="flex justify-center items-center h-screen">
        <div class="w-96 p-6 shadow-lg bg-slate-100 rounded-md bg-opacity-50 backdrop-blur-lg">
            <h1 class="text-3xl block text-center font-semibold">
                Kirjaudu sisään
            </h1>
            <hr class="mt-3" />
            <div class="mt-3">
                <form method="post" enctype="multipart/form-data">
                    <label for="username" class="block text-base mb-2"
                        >Käyttäjä</label
                    >
                    <input
                        type="text"
                        name="username"
                        id="username"
                        class="w-full border text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
                        placeholder="Käyttäjänimi"
                    />
                    <label for="password" class="block text-base mb-2"
                        >Salana</label
                    >
                    <input
                        type="password"
                        name="password"
                        class="w-full border text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
                        placeholder="Salasana"
                    />
                    <button
                        type="submit"
                        class="border-2 border-indigo-700 bg-indigo-700 text-white px-2 py-1 w-full mt-5 rounded-md hover:bg-transparent hover:text-indigo-700 font-semibold"
                        onclick="getApiData()">Login</button
                    >
                </form>
            </div>
        </div>
    </div>
</Layout>

<script></script>

<style></style>
