---
import Layout from "../layouts/Layout.astro";
const logged_user = Astro.cookies.get("logged_user")?.value;

if (!logged_user) {
  return Astro.redirect("/login");
}
---

<Layout title="Eurovision 24 homestudio">
  <h1 class="text-2xl font-semibold mb-5 text-center font-serif">
    Tervetuloa kisaamaan
  </h1>
  <div class="text-center">
    <p class="my-10">
      <a
        class="button"
        href="/participant_list">Esiintyjät</a>
    </p>
    <p class="my-10">
      <a
        class="button"
        href="/results">Tuloksiin</a>
    </p>
    {
      logged_user && (
        <div>
          <p class="my-10">
            <a
              class="button"
              href="/user">
              Vaihda salasana
            </a>
          </p>
        </div>
      )
    }
  </div>
</Layout>

<style>
	.button {
    @apply px-8 py-3 rounded-lg bg-slate-200 bg-opacity-70 border-2 border-slate-400
	}
</style>