---
import Layout from "../layouts/Layout.astro";
const logged_user = Astro.cookies.get("logged_user")?.value;
---

<Layout title="Eurovision 24 homestudio">
	<h1 class="text-2xl font-semibold mb-5">Tervetuloa kisaamaan</h1>
	
	<div><a href="/participant_list">Esiintyjät</a></div>
	<div><a href="/results">Tuloksiin</a></div>

	{logged_user && <div><a href="/user">Vaihda salasana</a></div>}

</Layout>
