---
import Layout from "../../layouts/Layout.astro";

import { db, like, Participants } from 'astro:db'

const { round } = Astro.params;

if (!round || !["1", "2", "3"].includes(round)) {
    return Astro.redirect("/404");
}

Astro.cookies.set("round", round, { path: "/" });

const participants = await db.select().from(Participants).where(like(Participants.round_num, round)).orderBy(Participants.turn);

---

<Layout title="Eurovision 24 homestudio">
    {
        participants.map((participant) => (
            <a href={"/participant/" + participant.id}>
                <section class="flex flex-1 mb-5 border rounded-xl p-4 shadow gap-5 items-center">
                    <div class="text-3xl w-16 text-center">
                        {participant.turn}
                    </div>
                    <div>
                        <ul>
                            <li>{participant.country}</li>
                            <li>
                                {participant.name} - {participant.song}
                            </li>
                        </ul>
                    </div>
                    <div />
                </section>
            </a>
        ))
    }
</Layout>
